body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
    font-weight: bold;
}
.navbar-brand img{
    width: 160px;
    height: 140px;
}
.container img{
        width: 300px;
        height: auto;
        display: block;
        margin: auto;
  
}